adium-theme-ubuntu==0.3.4
awscli==1.11.51
Babel==2.3.4
boto3==1.4.4
botocore==1.5.14
cffi==1.9.1
click==6.7
cloudant==2.3.1
colorama==0.3.7
cryptography==1.7.2
debtcollector==1.11.0
docutils==0.13.1
enum34==1.1.6
Flask==0.10.1
funcsigs==1.0.2
futures==3.0.5
idna==2.2
ipaddress==1.0.18
iso8601==0.1.11
itsdangerous==0.24
Jinja2==2.9.4
jmespath==0.9.1
keystoneauth1==2.18.0
MarkupSafe==0.23
monotonic==1.2
msgpack-python==0.4.8
mysql-connector==2.1.4
netaddr==0.7.19
netifaces==0.10.5
oslo.config==3.22.0
oslo.i18n==3.12.0
oslo.serialization==2.15.0
oslo.utils==3.22.0
pbr==1.10.0
positional==1.1.1
pyasn1==0.2.2
pycparser==2.17
pycrypto==2.6.1
pyDes==2.0.1
pyparsing==2.1.10
python-dateutil==2.6.0
python-keystoneclient==3.9.0
python-swiftclient==3.2.0
pytz==2016.10
PyYAML==3.12
requests==2.12.5
rfc3986==0.4.1
rsa==4.7
s3transfer==0.1.10
simple-crypt==4.1.7
six==1.10.0
stevedore==1.20.0
unity-lens-photos==1.0
urllib3==1.19.1
virtualenv==15.0.1
Werkzeug==0.11.15
wrapt==1.10.8
